# IP ranges that are allowed to authenticate a request using an API token
# Add '-' before an IP range to specifically disallow this IP range from authenticating using an API token
# Supports multiple values
# Remove property to allow all IPs or leave empty to block all IPs
api.token.ipranges = 127.0.0.1

# Allow specific EPersons to authenticate a request using an API token
# Supports multiple values
# Remove or leave property empty to allow all EPersons
api.token.email =

# When this is enabled, all GrantedAuthorities retrieved using an API token will be prefixed with TOKEN_,
# only giving users access to endpoints which allow TOKEN_{authority}
api.token.limit-permissions = true
